<!DOCTYPE html>
<html>
<head>
  <title>EventScheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav role="navigation">
    <div class="inner">
        <a href="#nav" class="nav-collapse" id="nav-collapse">Menu</a>
        <ul class="nav" id="nav">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
        </ul>
    </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
